# Fortune 500 HQs and Impact on Local Economies

In [1]:
#dependencies
import pandas as pd
import csv
import numpy as np
import requests
import json
import matplotlib.pyplot as plt
from config import g_key
import geocoder

In [19]:
#importing fortune 500 HQs
fortune500HQ_to_load = "./Data_Files/Fortune_500.csv"
Fortune_500 = pd.read_csv(fortune500HQ_to_load)

Fortune_500.head()

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0

In [20]:
counties = []

for row in range(0, len(Fortune_500)):
    city = Fortune_500["Hqcity"][row]
    state = Fortune_500["Hqstate"][row]
    results = geocoder.google(f"{city},{state}", key=g_key)
    
    # Use conditional to set county equal to city name if no county is available
    if type(results.county) != str:
        counties.append(f"{city} City")
    else:
        counties.append(results.county)
    
# Add County column
Fortune_500["County"]=counties
Fortune_500.head()

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity,County
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0,Benton County
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0,Douglas County
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0,Santa Clara County
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0,Dallas County
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,"1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0,San Francisco County

In [21]:
# Create empty list to store zip codes
zip_codes = []

# Loop through dataframe, splitting Address column into strings extracting zip at final index
for row in range(0, len(Fortune_500)):
    address_split = Fortune_500["Address"][row].split()
    zip_codes.append(address_split[-1])
    
# Add zip code column
Fortune_500["Zip Code"] = zip_codes
Fortune_500.head()

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity,County,Zip Code
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0,Benton County,72716
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0,Douglas County,68131
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0,Santa Clara County,95014
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0,Dallas County,75039
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0,San Francisco County,94104

In [22]:
# Remove unnecessary columns
Fortune_500 = Fortune_500[["Rank", "Title", "Sector", "Industry", "Hqcity", "Hqstate", "County", "Zip Code", "Revenues", "Profits", "Prftchange"]]

# Rename columns
Fortune_500 = Fortune_500.rename(index=str, columns={"Hqcity": "City", "Hqstate": "State", "Prftchange": "Change in Profits"})

In [23]:
Fortune_500.loc[Fortune_500["State"] == "NY"]

,Rank,Title,Sector,Industry,City,State,County,Zip Code,Revenues,Profits,Change in Profits
13,14,Verizon,Telecommunications,Telecommunications,New York,NY,New York City,10036,125980,13127.0,-26.6
20,21,J.P. Morgan Chase,Financials,Commercial Banks,New York,NY,New York City,10017,105486,24733.0,1.2
29,30,Citigroup,Financials,Commercial Banks,New York,NY,New York City,10013,82386,14912.0,-13.5
31,32,IBM,Technology,Information Technology Services,Armonk,NY,Westchester County,10504,79919,11872.0,-10
41,42,MetLife,Financials,"Insurance: Life, Health (Stock)",New York,NY,New York City,10166,63476,800.0,-84.9
43,44,PepsiCo,"Food, Beverages & Tobacco",Food Consumer Products,Purchase,NY,Westchester County,10577,62799,6329.0,16.1
53,54,Pfizer,Health Care,Pharmaceuticals,New York,NY,New York City,10017,52824,7215.0,3.7
54,55,AIG,Financials,Insurance: Property and Casualty (Stock),New York,NY,New York City,10038,52367,-849.0,-138.7
64,65,New York Life Insurance,Financials,"Insurance: Life, Health (Mutual)",New York,NY,New York City,10010,40787,1088.1,324.1
75,76,Morgan Stanley,Financials,Commercial Banks,New York,NY,New York City,10036,37949,5979.0,-2.4
77,78,Goldman Sachs Group,Financials,Commercial Banks,New York,NY,New York City,10282,37712,7398.0,21.6
79,80,TIAA,Financials,"Insurance: Life, Health (Mutual)",New York,NY,New York City,10017,37105,1492.3,22.9
85,86,American Express,Financials,Diversified Financials,New York,NY,New York City,10285,33823,5408.0,4.7
94,95,Time Warner,Media,Entertainment,New York,NY,New York City,10019,29318,3926.0,2.4
98,99,Travelers Cos.,Financials,Insurance: Property and Casualty (Stock),New York,NY,New York City,10017,27625,3014.0,-12.4
100,101,Twenty-First Century Fox,Media,Entertainment,New York,NY,New York City,10036,27326,2755.0,-66.8
103,104,Philip Morris International,"Food, Beverages & Tobacco",Tobacco,New York,NY,New York City,10017,26685,6967.0,1.4
146,147,Bristol-Myers Squibb,Health Care,Pharmaceuticals,New York,NY,New York City,10154,19427,4457.0,184.8
167,168,Icahn Enterprises,Financials,Diversified Financials,New York,NY,New York City,10153,16348,-1128.0,-70.2
176,177,Bank of New York Mellon,Financials,Commercial Banks,New York,NY,New York City,10286,15683,3547.0,12.3
178,179,Omnicom Group,Business Services,"Advertising, Marketing",New York,NY,New York City,10022,15417,1148.6,5
181,182,Colgate-Palmolive,Household Products,Household and Personal Products,New York,NY,New York City,10022,15195,2441.0,76.4
188,189,INTL FCStone,Financials,Diversified Financials,New York,NY,New York City,10017,14755,54.7,-1.8
192,193,CBS,Media,Entertainment,New York,NY,New York City,10019,14386,1261.0,-10.8
209,210,Marsh & McLennan,Financials,Diversified Financials,New York,NY,New York City,10036,13211,1768.0,10.6
212,213,Loews,Financials,Insurance: Property and Casualty (Stock),New York,NY,New York City,10065,13105,654.0,151.5
217,218,Guardian Life Ins. Co. of America,Financials,"Insurance: Life, Health (Mutual)",New York,NY,New York City,10004,12919,263.9,-35.7
223,224,Viacom,Media,Entertainment,New York,NY,New York City,10036,12488,1438.0,-25.2
227,228,Arconic,Aerospace & Defense,Aerospace and Defense,New York,NY,New York City,10022,12394,-941.0,6.7
233,234,Consolidated Edison,Energy,Utilities: Gas and Electric,New York,NY,New York City,10003,12075,1245.0,4.4
242,243,Henry Schein,Wholesalers,Wholesalers: Health Care,Melville,NY,Suffolk County,11747,11572,506.8,5.8
252,253,Estee Lauder,Household Products,Household and Personal Products,New York,NY,New York City,10153,11262,1114.6,2.4
254,255,BlackRock,Financials,Securities,New York,NY,New York City,10055,11155,3172.0,-5.2
261,262,Leucadia National,Financials,Diversified Financials,New York,NY,New York City,10022,10875,130.0,-54.2
265,266,Voya Financial,Financials,Diversified Financials,New York,NY,New York City,10169,10782,-428.0,-204.8
266,267,Mastercard,Business Services,Financial Data Services,Purchase,NY,Westchester County,10577,10776,4059.0,6.6
272,273,L3 Technologies,Aerospace & Defense,Aerospace and Defense,New York,NY,New York City,10016,10597,710.0,19.4
297,298,Corning,Industrials,"Electronics, Electrical Equipment",Corning,NY,Steuben County,14831,9390,3695.0,176
299,300,Alcoa,Materials,Metals,New York,NY,New York City,10022,9318,-400.0,-18.3
331,332,News Corp.,Media,"Publishing, Printing",New York,NY,New York City,10036,8319,179.0,-21.3
334,335,PVH,Apparel,Apparel,New York,NY,New York City,10016,8203,549.0,-4.1
344,345,Interpublic Group,Business Services,"Advertising, Marketing",New York,NY,New York City,10022,7847,608.5,33.9
347,348,Foot Locker,Retailing,Specialty Retailers: Apparel,New York,NY,New York City,10001,7766,664.0,22.7
360,361,Assurant,Financials,Insurance: Property and Casualty (Stock),New York,NY,New York City,10005,7532,565.4,299.4
370,371,Ralph Lauren,Apparel,Apparel,New York,NY,New York City,10022,7405,396.0,-43.6
403,403,JetBlue Airways,Transportation,Airlines,Long Island City,NY,Queens County,11101,6632,759.0,12.1
407,408,Constellation Brands,"Food, Beverages & Tobacco",Beverages,Victor,NY,Ontario County,14564,6548,1054.9,25.7
417,418,HRG Group,Household Products,Household and Personal Products,New York,NY,New York City,10022,6403,-198.8,-37.2
427,428,Alleghany,Financials,Insurance: Property and Casualty (Stock),New York,NY,New York City,10018,6131,456.9,-18.5
443,444,Avon Products,Household Products,Household and Personal Products,Rye,NY,Westchester County,10580,5853,-107.6,85.7
454,455,M&T Bank Corp.,Financials,Commercial Banks,Buffalo,NY,Erie County,14203,5722,1315.1,21.8
458,459,S&P Global,Business Services,Financial Data Services,New York,NY,New York City,10041,5661,2106.0,82.2
474,475,AmTrust Financial Services,Financials,Insurance: Property and Casualty (Stock),New York,NY,New York City,10038,5451,411.0,-8.8
499,500,ABM Industries,Business Services,Diversified Outsourcing Services,New York,NY,New York City,10006,5145,57.2,-25

# Eric

In [113]:
# Read unemployment csv into a dataframe
unemployment_file = pd.read_csv("./Data_Files/unemployment.csv", header=None, encoding="iso-8859-1")
unemployment_file.head(20)

,0,1,2,3,4,5,6,7,8
0,"Labor force data by county, not seasonally adj...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,State,County,NaN,NaN,NaN,NaN,NaN,Unemploy-
3,NaN,FIPS,FIPS,NaN,NaN,Labor,NaN,NaN,ment Rate
4,LAUS Code,Code,Code,County Name/State Abbreviation,Period,Force,Employed,Unemployed,(%)
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,CN0100100000000,01,001,"Autauga County, AL",Nov-17,"25,871","25,085",786,3.0
7,CN0100300000000,01,003,"Baldwin County, AL",Nov-17,"90,382","87,439","2,943",3.3
8,CN0100500000000,01,005,"Barbour County, AL",Nov-17,"8,148","7,766",382,4.7
9,CN0100700000000,01,007,"Bibb County, AL",Nov-17,"8,455","8,177",278,3.3
10,CN0100900000000,01,009,"Blount County, AL",Nov-17,"24,396","23,641",755,3.1
11,CN0101100000000,01,011,"Bullock County, AL",Nov-17,"4,832","4,636",196,4.1
12,CN0101300000000,01,013,"Butler County, AL",Nov-17,"8,842","8,462",380,4.3
13,CN0101500000000,01,015,"Calhoun County, AL",Nov-17,"45,351","43,587","1,764",3.9
14,CN0101700000000,01,017,"Chambers County, AL",Nov-17,"15,210","14,701",509,3.3
15,CN0101900000000,01,019,"Cherokee County, AL",Nov-17,"11,027","10,671",356,3.2
16,CN0102100000000,01,021,"Chilton County, AL",Nov-17,"19,078","18,478",600,3.1
17,CN0102300000000,01,023,"Choctaw County, AL",Nov-17,"4,311","4,082",229,5.3
18,CN0102500000000,01,025,"Clarke County, AL",Nov-17,"7,559","7,072",487,6.4
19,CN0102700000000,01,027,"Clay County, AL",Nov-17,"5,714","5,515",199,3.5

In [114]:
# Rename columns
unemployment_df = unemployment_file.rename(columns={0: "County Code", 1: "State FIPS", 2: "County FIPS", 
                                  3: "County_State", 4: "Month", 5: "Labor Force", 6: "Employed", 
                                  7: "Unemployed", 8: "Unemployment Rate (%)"})

unemployment_df.head(10)

,County Code,State FIPS,County FIPS,County_State,Month,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,"Labor force data by county, not seasonally adj...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,State,County,NaN,NaN,NaN,NaN,NaN,Unemploy-
3,NaN,FIPS,FIPS,NaN,NaN,Labor,NaN,NaN,ment Rate
4,LAUS Code,Code,Code,County Name/State Abbreviation,Period,Force,Employed,Unemployed,(%)
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,CN0100100000000,01,001,"Autauga County, AL",Nov-17,"25,871","25,085",786,3.0
7,CN0100300000000,01,003,"Baldwin County, AL",Nov-17,"90,382","87,439","2,943",3.3
8,CN0100500000000,01,005,"Barbour County, AL",Nov-17,"8,148","7,766",382,4.7
9,CN0100700000000,01,007,"Bibb County, AL",Nov-17,"8,455","8,177",278,3.3

In [115]:
# Remove extra rows that were included from csv formatting
unemployment_df=unemployment_df.drop(unemployment_df.index[:6])
unemployment_df.head(10)

,County Code,State FIPS,County FIPS,County_State,Month,Labor Force,Employed,Unemployed,Unemployment Rate (%)
6,CN0100100000000,01,001,"Autauga County, AL",Nov-17,"25,871","25,085",786,3.0
7,CN0100300000000,01,003,"Baldwin County, AL",Nov-17,"90,382","87,439","2,943",3.3
8,CN0100500000000,01,005,"Barbour County, AL",Nov-17,"8,148","7,766",382,4.7
9,CN0100700000000,01,007,"Bibb County, AL",Nov-17,"8,455","8,177",278,3.3
10,CN0100900000000,01,009,"Blount County, AL",Nov-17,"24,396","23,641",755,3.1
11,CN0101100000000,01,011,"Bullock County, AL",Nov-17,"4,832","4,636",196,4.1
12,CN0101300000000,01,013,"Butler County, AL",Nov-17,"8,842","8,462",380,4.3
13,CN0101500000000,01,015,"Calhoun County, AL",Nov-17,"45,351","43,587","1,764",3.9
14,CN0101700000000,01,017,"Chambers County, AL",Nov-17,"15,210","14,701",509,3.3
15,CN0101900000000,01,019,"Cherokee County, AL",Nov-17,"11,027","10,671",356,3.2

In [116]:
# Use .loc to find unemployment rate at the end of the year
unemployment_df = unemployment_df.loc[unemployment_df["Month"] == "Dec-17"]

# Reset index values
unemployment_df = unemployment_df.reset_index(drop=True)

unemployment_df.head(10)

,County Code,State FIPS,County FIPS,County_State,Month,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,01,001,"Autauga County, AL",Dec-17,"25,733","24,952",781,3.0
1,CN0100300000000,01,003,"Baldwin County, AL",Dec-17,"90,001","87,006","2,995",3.3
2,CN0100500000000,01,005,"Barbour County, AL",Dec-17,"8,074","7,704",370,4.6
3,CN0100700000000,01,007,"Bibb County, AL",Dec-17,"8,412","8,143",269,3.2
4,CN0100900000000,01,009,"Blount County, AL",Dec-17,"24,164","23,434",730,3.0
5,CN0101100000000,01,011,"Bullock County, AL",Dec-17,"4,689","4,480",209,4.5
6,CN0101300000000,01,013,"Butler County, AL",Dec-17,"8,753","8,374",379,4.3
7,CN0101500000000,01,015,"Calhoun County, AL",Dec-17,"45,160","43,425","1,735",3.8
8,CN0101700000000,01,017,"Chambers County, AL",Dec-17,"15,187","14,693",494,3.3
9,CN0101900000000,01,019,"Cherokee County, AL",Dec-17,"10,922","10,579",343,3.1

In [117]:
# All columns are strings with hidden white space.
#Loop through rows of numerical columns to strip white space and remove commas

for row in range(0, len(unemployment_df)):
    string = unemployment_df["Labor Force"][row]
    unemployment_df["Labor Force"][row] = string.strip()
    unemployment_df["Labor Force"][row] = string.replace(",","")
    
    string = unemployment_df["Employed"][row]
    unemployment_df["Employed"][row] = string.strip()
    unemployment_df["Employed"][row] = string.replace(",","")
    
    string = unemployment_df["Unemployed"][row]
    unemployment_df["Unemployed"][row] = string.strip()
    unemployment_df["Unemployed"][row] = string.replace(",","")
    
    string = unemployment_df["Unemployment Rate (%)"][row]
    unemployment_df["Unemployment Rate (%)"][row] = string.strip()
    
# Convert numerical string values to integers
unemployment_df["Labor Force"] = unemployment_df["Labor Force"].astype(int)
unemployment_df["Employed"] = unemployment_df["Employed"].astype(int)
unemployment_df["Unemployed"] = unemployment_df["Unemployed"].astype(int)
unemployment_df["Unemployment Rate (%)"] = unemployment_df["Unemployment Rate (%)"].astype(float)

    
unemployment_df.dtypes

County Code               object
State FIPS                object
County FIPS               object
County_State              object
Month                     object
Labor Force                int32
Employed                   int32
Unemployed                 int32
Unemployment Rate (%)    float64
dtype: object

In [118]:
# Create empty list variables to store split values
unemployment_counties = []
unemployment_states = []

# Loop through df to split County_State column into County and State
for row in range(0, len(unemployment_df)):
    county_split = unemployment_df["County_State"][row].split(",")
    county_split[0].strip()
    county_split[-1].strip()
    unemployment_counties.append(county_split[0])
    unemployment_states.append(county_split[-1])
    
# Add columns to df
unemployment_df["County"] = unemployment_counties
unemployment_df["State"] = unemployment_states

# Rearrange columns and remove unnecessary columns
unemployment_df = unemployment_df[["County Code", "State FIPS", "County FIPS", "County", "State", "Labor Force", 
                                   "Employed", "Unemployed", "Unemployment Rate (%)"]]

unemployment_df.head(10)

,County Code,State FIPS,County FIPS,County,State,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,01,001,Autauga County,AL,25733,24952,781,3.0
1,CN0100300000000,01,003,Baldwin County,AL,90001,87006,2995,3.3
2,CN0100500000000,01,005,Barbour County,AL,8074,7704,370,4.6
3,CN0100700000000,01,007,Bibb County,AL,8412,8143,269,3.2
4,CN0100900000000,01,009,Blount County,AL,24164,23434,730,3.0
5,CN0101100000000,01,011,Bullock County,AL,4689,4480,209,4.5
6,CN0101300000000,01,013,Butler County,AL,8753,8374,379,4.3
7,CN0101500000000,01,015,Calhoun County,AL,45160,43425,1735,3.8
8,CN0101700000000,01,017,Chambers County,AL,15187,14693,494,3.3
9,CN0101900000000,01,019,Cherokee County,AL,10922,10579,343,3.1

In [120]:
# New York City is split into 5 counties for each borough and must be combined into one entry

# Isolate New York Counties from the rest of the df
nyc_df = unemployment_df.loc[unemployment_df["State"] == " NY"]

# Rename each county to New York City
nyc_df.loc[nyc_df["County"] == "New York County", "County"] = "New York City"
nyc_df.loc[nyc_df["County"] == "Kings County", "County"] = "New York City"
nyc_df.loc[nyc_df["County"] == "Bronx County", "County"] = "New York City"
nyc_df.loc[nyc_df["County"] == "Richmond County", "County"] = "New York City"
nyc_df.loc[nyc_df["County"] == "Queens County", "County"] = "New York City"

# Combine all New York City data into one dataframe
nyc_df = nyc_df.loc[nyc_df["County"] == "New York City"]

# Find totals of statistics and find unemployment rate for all 5 boroughs
nyc_labor_force = nyc_df["Labor Force"].sum()
nyc_employed = nyc_df["Employed"].sum()
nyc_unemployed = nyc_df["Unemployed"].sum()
nyc_unemployment_rate = round(nyc_unemployed / nyc_labor_force * 100, 1)

# Make a dataframe using NYC totals
nyc_totals = pd.DataFrame({"County Code": None, "State FIPS": None, "County FIPS": None, "County": "New York City", 
                           "State": "NY", "Labor Force": nyc_labor_force, "Employed": nyc_employed, 
                           "Unemployed": nyc_unemployed, "Unemployment Rate (%)": nyc_unemployment_rate}, index=[0])

# Drop NYC rows from unemployment dataframe
unemployment_df[unemployment_df.County != "New York City"]

# Merge NYC totals into main dataframe to replace dropped rows
unemployment_df = unemployment_df.merge(nyc_totals, how="outer")
unemployment_df.head()

,County Code,State FIPS,County FIPS,County,State,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,01,001,Autauga County,AL,25733,24952,781,3.0
1,CN0100300000000,01,003,Baldwin County,AL,90001,87006,2995,3.3
2,CN0100500000000,01,005,Barbour County,AL,8074,7704,370,4.6
3,CN0100700000000,01,007,Bibb County,AL,8412,8143,269,3.2
4,CN0100900000000,01,009,Blount County,AL,24164,23434,730,3.0
5,CN0101100000000,01,011,Bullock County,AL,4689,4480,209,4.5
6,CN0101300000000,01,013,Butler County,AL,8753,8374,379,4.3
7,CN0101500000000,01,015,Calhoun County,AL,45160,43425,1735,3.8
8,CN0101700000000,01,017,Chambers County,AL,15187,14693,494,3.3
9,CN0101900000000,01,019,Cherokee County,AL,10922,10579,343,3.1

In [121]:
unemployment_df.loc[unemployment_df["County"] == "New York City"]

,County Code,State FIPS,County FIPS,County,State,Labor Force,Employed,Unemployed,Unemployment Rate (%)
3219,None,None,None,New York City,NY,4189864,4023962,165902,4.0

In [24]:
#### TEST CELL
# Use geocoder to find county

results = geocoder.google("Miami, FL", key=g_key)
print(results.county)

Miami-Dade County

In [ ]:
###### TEST CELL #####
# API loop for Bureau of Labor Statistics
#base_url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
#prefix = "LAUCN"

#response = requests.get(f"{base_url}/LAUST110000000000003?registrationkey={bls_key}")

# Carlos

# Yissel

# Rodrigo